[Unit]
Description=Casinocoin Peer-to-Peer Network Daemon
 
[Service]
Type=simple
User=casinocoin
LimitNOFILE=65535
ExecStart=/usr/bin/casinocoind --conf=/etc/casinocoind/casinocoind.cfg --net
 
[Install]
WantedBy=multi-user.target
